@use '@/assets/styles/reset.scss';
@use '@/assets/styles/fonts.scss';
@use '@/assets/styles/vars.scss' as *;
@use '@/assets/libs/swiper-bundle' as *;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $text;
  background-color: $background;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 10px;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Запобігає "зависанню" скролу */
}

#app > div {
  height: 100vh; /* Якщо потрібно */
  overflow-y: auto; /* Включає вертикальний скрол в потрібному контейнері */
  -webkit-overflow-scrolling: touch; /* Плавний скрол на iOS */
}
