$background: #f9f3f0;
$text: #0a0b08;
$main-color: #ff4a15;
$main-text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);

$red: #d0160b;
$yellow: #f9d003;
$orange: #cc3204;
$white: #fff;
$yellow-dark: #b89d00; // темний жовтий колір

// нові
$green: #2f7d13; // глибокий природний зелений
$blue: #145ca3; // насичений, але не яскравий
$beige: #e4d1c3; // теплий світлий для фону/акцентів
$brown: #5a2f1d; // глибокий теплий коричневий
$purple: #6a1b9a; // фіолетовий для статусу доставки
